#footer {
    margin-bottom: 10%;
    padding-bottom: 50px;
    padding-top: 5px;
    background: rgba(30, 0, 255, 0.05);

}
.cc-facebook:hover {
    background: green;
}
.cc-instagram:hover {
    background: green;
}
.cc-twitter:hover {
    background: green;
}