<app-navbar></app-navbar>
<div class="welcome" id="welcome">
    <br><br><br><br>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/images/gib.jpg" alt="hos-logo" class="navlogo">
            </div>
            <div class="col-md-6 welcome-txt" id="text">
                <h1 class="text-center txt txt-big">Welcome to <span class="pizza">Afya-Bora Counselling </span><span
                        class="exc"></span>
                </h1>
                <p class="text-center txt"> <span class="fancy"><em>HAVING A PROBLEM ACCESSING YOUR THERAPIST???.! </em> </span>...Worry no more.We Will connect you with a professional, licensed and vetted therapist in an online, private session room.</p>
                <p class="text-center txt">You can message your therapist anytime, and you can also schedule a weekly phone, video, or live chat session with your therapist.</p>
                <a href="/about">
                    <button class="btn btn-primary mx-auto d-block">Find out More</button>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row mb-2 mt-5 blogs">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">Post title</h3>
          <div class="mb-1 text-muted">Nov 11</div>
          <p class="mb-auto">This is a wider card with supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>


  <div class="our-services">
    <div class="container text-center">
       <h1>Our special services</h1>
    </div>
    <div class="main-services">
        <div class="inner-services-content">
            <div class="service-icon">
                <i class="fas fa-notes-medical"></i>
            </div>
            <h2>health care</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum corporis impedit nam quaerat vitae incidunt aspernatur, conseq</p>

        </div>

        <div class="inner-services-content">
            <div class="service-icon">
                <i class="fas fa-hospital-user"></i>
            </div>
            <h2>health care</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum corporis impedit nam quaerat vitae incidunt aspernatur, conseq</p>
            
        </div>

        <div class="inner-services-content">
            <div class="service-icon">
                <i class="fas fa-user-md"></i>
            </div>
            <h2>health care</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum corporis impedit nam quaerat vitae incidunt aspernatur, conseq</p>
            
        </div>
    </div>
</div>

<div class="why-choseus">
    <div class="main-chose">
        <div class="inner-chose">
            <img src="../../assets/images/cute.jpg" alt="">
        </div>

        <div class="inner-chose">
            <h1>why chose us </h1>

            <div class="inner-chose-content">
                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-notes-medical"></i>
                    </div>
                    <div class="icon-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                    </div>
                </div>

                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-hospital-user"></i>
                        
                    </div>
                    <div class="icon-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                    </div>
                </div>

                <div class="main-inner-chose">
                    <div class="chose-icon">
                        <i class="fas fa-user-md"></i>
                    </div>
                    <div class="icon-content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae error explicabo possimus fugit fuga inventore tenetur natus, </p>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>

<app-footer></app-footer>
