<app-navbar></app-navbar>

<div class="welcome" id="welcome">
    <br><br><br><br>
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../assets/images/navlogo.png" alt="hos-logo" class="navlogo">
            </div>
            <div class="col-md-6 welcome-txt">
                <h1 class="text-center txt txt-big">Welcome to <span class="pizza">Afya-Bora Counselling </span><span
                        class="exc"></span>
                </h1>
                <p class="text-center txt"> <span class="fancy"><em>HAVING A PROBLEM ACCESSING YOUR THERAPIST???! </em> </span> Worry no more.We Will connect you with a professional, licensed and vetted therapist in an online, private session room.</p>
                <p class="text-center txt">You can message your therapist anytime, and you can also schedule a weekly phone, video, or live chat session with your therapist.</p>
                <a href="#about">
                    <button class="mx-auto d-block">Find out More</button>
                </a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
