form {
    margin: 7%;
}

input {
    width: 100%;
    height: 8vh;
    background-color: #B7D1D0;
    border: 2px solid #B7D1D0;
    border-radius: 20px;
}

label {
    padding-top: 20px;
    padding-bottom: 10px;
}

button {
    width: 120px;
    border-radius: 20px;
    background-color: #268B6A;
    margin-bottom: 20px;
}

img {
    height: 85vh;
    border-radius: 30px;
}