<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-family:Reggae One;" href="#">Consultation</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" style="margin-left: 30px;">Counsellors</a>

                </div>
            </div>
        </div>
    </nav>

    <div class="container mt-5 pt-5">
        <div class="row g-0">
            <div class="col-lg-5" style="margin-top: 70px;">
                <h2 class="clo-lg-5 text-center py-5">Become a counselor</h2>
                <h4 class="clo-lg-5 text-center py-2" style="color: black;">We will be needing addtional details of <br> yourself to verify your legitimacy</h4>
                <form #CounsellorDetailsForm='ngForm' (ngSubmit)="CounsellorDetails()">
                    <label for="#first_name">Your first name</label>
                    <br>
                    <input style="height:8vh" type="text" ([ngModel])="first_name" id="first_name" class="form-control" name="first_name">

                    <label for="#last_name">Your Last name</label>
                    <br>
                    <input style="height:8vh" type="text" ([ngModel])="last_name" id="last_name" class="form-control" name="last_name">

                    <label for="#experiences">Please share your work experiences below.</label>
                    <br>
                    <input style="height:15vh" type="text" ([ngModel])="work_experience" id="experiences" class="form-control" name="experiences">

                    <label for="#qualities">Please share your qualities below</label>
                    <br>
                    <input style="height:15vh" type="text" ([ngModel])="qualities" id="qualities" class="form-control" name="qualities">
                    <br>
                    <button class="btn btn-success">Submit</button>
                </form>

            </div>
            <div class="col-lg-5">
                <img src="https://github.com/MosesOpiyo/counselling_front/blob/ft/moses/src/assets/images/pexels-cottonbro-4098274.jpg?raw=true" alt="">
            </div>
        </div>
    </div>
</div>