<div class="container" id="contact">
    <div class="content">
        <div class="left-side">
            <div class="address details">
                <i class="fas fa-map-marker-alt"></i>
                <div class="topic">Address</div>
                <div class="text-one">Nairobi, 45 Avenue</div>
                <div class="text-two">Nakuru 06</div>
            </div>
            <div class="phone details">
                <i class="fas fa-phone-alt"></i>
                <div class="topic">Phone</div>
                <div class="text-one">+254 9893 5647</div>
                <div class="text-two">+254 3434 5678</div>
            </div>
            <div class="email details">
                <i class="fas fa-envelope"></i>
                <div class="topic">Email</div>
                <div class="text-one">afyabora@gmail.com</div>
                <div class="text-two">info.afyabora@gmail.com</div>
            </div>
        </div>
        <div class="right-side">
            <h2>Contact-Us</h2>
            <div class="topic-text">Send us a message</div>
            <p>Experiencing symptoms of anxiety, trauma, suicidal thoughts, and panic attacks??? Or a member of your family or friend?<br>Feel free to reach out to us for help.</p>
            <form action="#">
                <div class="input-box">
                    <input type="text" placeholder="Enter your name">
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Enter your email">
                </div>
                <div class="input-box message-box">
                    <input type="text" placeholder="Enter your message">
                </div>
                <div class="button">
                    <input type="button" value="Send Now">
                </div>
            </form>
        </div>
    </div>
</div>