button:hover{
  background: green;
}
#contact {
  padding-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#icons i {
  align-items: center;
  color: blue;
  justify-content: center;
  font-size: 20px;
  /* color: #3e2093;
  margin-bottom: 10px; */
}
.input-group i {
  color: blue;
  font-size: 20px;

}
#icons {
  color: #afafb6;
}
.topic {
  font-size: 18px;
  font-weight: 500;
}
.text-one, 
.text-two {
  font-size: 14px;
  color: #afafb6;
}
.container {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: transparent !important;
  box-shadow: 0 5px 20px;
}
#card1 {
  max-width: 100%;
}
#conta-image img {
  max-width: 80%;
  padding-top: 20px;
}
#back {
  padding-right: 60px;
  padding-bottom: 10px;
}