<div class="side-nav">
    <div class="container">
        <h3 class="clo-lg-5 text-center py-5" style="font-family:Reggae One;margin-top: 30px;color: white;" href="#">Consultation</h3>
        <div class="card"></div>
        <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" style="margin-left: 20%; margin-bottom: 40px;font-size: 18px;" routerLink="/1">Account</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15px;font-size: 18px;" routerLink="/2">Home</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15px;font-size: 18px;" routerLink="/3">Activity</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15px;font-size: 18px;" routerLink="/3">Consultants</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15px;font-size: 18px;" routerLink="/3">Groups</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15pc;font-size: 18px;" routerLink="/3">About</a>
            <a class="nav-link" style="margin-left: 20%; margin-bottom: 15px;font-size: 18px;" routerLink="/3">Activity</a>

        </div>
    </div>
</div>