#about-img{
    float: right;
    height: 250px;
    width: 500px;
    padding-left: 50px;
}
h3.titles{
    border-bottom: 1px solid black;
    height: 0.7em;
    width: 100%;
    font-weight: bold;
}
h3.titles span{
    display: inline-block;
    background: white;
    padding: 0 0.25em;
}
hr{
    color: black;
    
}
.mission{
    display: flex;
}
.mission img{
    width: 220px;
    height: 200px;
    padding: 20px;
}

footer{
    margin-top: 100px;
    background: linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);
}
header{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.3));
    height: 70vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
#mainNav{
    background:linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%);  
}
#logo{
    border-radius: 10% 50% 50% 10%;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.3));
    color: white;
    text-shadow: 2px 2px 10px black, 0 0 25px grey , 0 0 15px darkblue;
    padding: 10px;
}
#logo:hover{
    transition: 0.5 ease;
    transform: translateX(5px);
    color: white; 
    font-size: 28px;
}

#navBar a:hover{
       border: radius 10px;
       background:linear-gradient(180deg, rgba(54, 128, 195, 0.92) 7.29%, rgba(54, 128, 195, 0) 100%); 
       font-size: 28px;
       color: white;
       transition: 0.6 ease;
       transform: translateX(5px);
}
.myafya{
    display:inline-block;
    align-items: center;
    padding-top: 15rem;
    text-shadow: 2px 2px 10px black, 0 0 25px grey , 0 0 15px darkblue;
}
.card a:hover {
    background: green;
}
.container {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.about{
    width: 80%;
    margin: auto;
}