<div class="container">
    <h1 class="txt txt-big" style="text-align: center; font-family: Reggae One;">About Us</h1>
    <h2 class="txt txt-big">Afya-Bora Counselling</h2>
    <div class="row">
        <div class="col-md-6">
            <p>Afya-Bora counselling is a dedicated online-based team of consultant therapists, cognitive behavioral
                therapists, practitioners and support staff that are collaboratively working to help people in need of
                emotional support. More so those with mental health disorder.
                <br> This is not just a chat. It’s a complete toolbox. You get all the support and tools you need to be
                happier and to keep you emotionally stable. <br>

                We know how difficult it can be to get a face-to-face therapy appointment these days. How expensive it
                can be. How impossible it can feel to squeeze in a visit in your already hectic schedule. How lonely and
                unsupported you can feel inbetween sessions. And how you just seem to forget all the things your
                therapist told you since that last visit.
                <br>
                Therefore, there's no need to worry anymore as ABC is the solution for you at hand.
            </p>
        </div>
        <div class="col-md-6">
            <img id="about-img" src="../../assets/images/about.jpg" alt="Our proffesionals at work.">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="titles"><span>Our Vision</span></h3>
            <p style="margin-top: 30px;">Our vision is to make virtual care the first step on any healthcare
                journey.<br>
                We are committed, now more than ever, to use our position as a leading company to expand equitable
                access to care and create a world where everyone has an opportunity to attain their full health
                potential.</p>
            <h3 class="titles"><span>Our Mission</span></h3>
            <p style="margin-top: 30px;">Making professional counselling accessible, affordable, and convenient — so
                anyone who struggles with life’s challenges can get help, anytime and anywhere.</p>
            <h3 class="titles"> <span>Our Leadership</span></h3>
            <p style="margin-top: 30px;">
                Our dedicated leaders brings together visionaries in healthcare, technology, data science, clinical
                expertise, consumer behavior and more to transform the healthcare experience.
                <br>
                Working around the clock to always ensure there is a platform where the general public can easily get
                access to professional counselling services.
            <div class="mission" style="margin-top: 20px;">
                <img src="../../assets/images/moses.jpeg" alt="Mission work">
                <img src="../../assets/images/team.jpg" alt="Mission work">
            </div>
        </div>
        <div class="col-md-6">
            <h3 class="titles"> <span>Our shared Values</span></h3>
            <p style="margin-top: 20px;">
            <ul>
                <li>Quality: Our program is based on proven, well-researched treatments drawn from the best therapists
                    in the country. Our therapists are highly qualified with a wide range of credentials.</li>
            </ul>
            <ul>
                <li>Complete ToolBox: From the confort of your home zone, once logged in this application you will be
                    able to get all the support and treatment from our able therapists, with no need of moving around
                    undecided.</li>
            </ul>
            <ul>
                <li>Secure and Confidential: We ensure that all information transferred is end-to-end encrypted to our
                    secure server, where only the therapist can access it.</li>
            </ul>

            <hr>
            <h3 style="text-align: center; font-weight: bold;"><span>Our Team</span></h3>
            <div class="mission" style="margin-top: 20px;">
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/alphonce.jpg" class="card-img-top" alt="..." style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Dr.Alphonce</h5>
                        <p class="card-text">ABC Lead IT Expert</p>
                        <a href="#" class="btn btn-primary">CONTACT</a>
                    </div>
                </div>
                <br>
                <div class="card" style="width: 18rem;">
                    <img src="../../assets/images/larvine.jpg" class="card-img-top" alt="..." style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">Dr.Larvine</h5>
                        <p class="card-text">Customer-Care Lead</p>
                        <a href="#" class="btn btn-primary">CONTACT</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>